# Configuración del Servidor y Base de Datos MySQL
PORT=3000

# Credenciales de MySQL Workbench (Ajusta la contraseña según tu instalación local)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=rutas_puno_db

# Clave Secreta para Tokens JWT y Sesiones
JWT_SECRET=rutas_del_altiplano_puno_secret_key_2026

# Configuración de Email (Nodemailer Gmail)
EMAIL_USER=
EMAIL_PASS=
